/* 
Global attributes begin here 
*/
:root {
    --left-side: 60vw;
    --right-side: calc(100vw - var(--left-side));
    --circle-width: 16vh;
    --circle-spacing: 2.133vh;
    --arrow-scale: 8.5vh;
    --logo-scale: .30;
    --logo-height: calc(var(--left-side) * var(--logo-scale) * 445/1247);
    --artist-dims: calc(100vh - var(--logo-height) - 10vh - 8vh);
}

/*
Body formatting begins here
*/
body {
    display: flex;
    flex-direction: row;
}

.gradient-bg {
    background-image: url("../images/gradientBg.png");
    background-size: cover;
    background-position: center;
}

/* Left-side formatting */
.sixty {
    width: var(--left-side);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: var(--logo-scale);
    margin: 5vh 0;
    text-align: center;
}

.logo > img {
    width: auto;
    height: var(--logo-height);
}

.artist-1-box-dims {
    margin-bottom: 8vh;
    width: var(--artist-dims);
    height: var(--artist-dims);
}

.artist-box {
    background-color: black; 
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artist-1 {
    background-color: white; 
    width: 60%; 
    height: 60%;
}


/* Right-side formatting */
.fourty {
    width: var(--right-side);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.upper-half, .lower-half {
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
}

.upper-half:after {
    content:'';
    position: absolute;
    top: calc(50vh - var(--circle-width) - var(--circle-spacing));
    left: calc(-1 * var(--circle-width)/2); 

    border-radius: 50%;
    width: var(--circle-width); 
    height: var(--circle-width); 

    box-shadow: 0px 0px 0px 2000px black;
}

.lower-half:after {
    content:'';
    position: absolute;
    top: var(--circle-spacing);
    left: calc(-1 * var(--circle-width)/2); 

    border-radius: 50%;
    width: var(--circle-width); 
    height: var(--circle-width);

    box-shadow: 0px 0px 0px 2000px black;
}
/* Learned from https://stackoverflow.com/questions/52288587/how-to-subtract-a-shape-from-a-div */

/* Arrow formatting */
.up-arrow, .down-arrow {
    position: absolute;
    left: calc(-1 * var(--arrow-scale)/2);

    width: auto;
    height: 100%;
    max-height: var(--arrow-scale);
}

.up-arrow {
    bottom: calc(50vh - var(--arrow-scale)/2 + var(--circle-width)/2 + var(--circle-spacing) + 2px);
}

.down-arrow {
    bottom: calc(50vh - var(--arrow-scale)/2 - var(--circle-width)/2 - var(--circle-spacing) - 2px);
}

.artist-2-box-dims {
    position: absolute;
    background-color: white;
    margin: 0 auto;
    margin-top: calc(var(--logo-height) + 10vh);
    margin-bottom: 8vh;
    margin-left: calc(var(--circle-width)/2);

    width: calc(var(--artist-dims) * .6);
    height: calc(var(--artist-dims) * .6);
}

@media screen and (max-aspect-ratio: 8/5) {
    :root {
        --circle-width: 10vw;
        --circle-spacing: 1.3333vw;
        --arrow-scale: 5.3125vw;
    }

    .artist-1-box-dims {
        width: 45vw;
        display: flex;
        align-items: center;
    }

    .artist-box {
        height: 45vw;
        margin: auto 0;
    }

    .artist-2-box-dims {
        width: calc(45vw * .6);
        height: calc(45vw * .6);
    }
}

@media screen and (max-width: 790px) {
    :root {
        --logo-height: 50px;
    }
}

@media screen and (max-aspect-ratio: 3/4) {
    :root {
        --left-side: 100vw;
        --right-side: 100vw;
        --circle-width: 24vw;
        --circle-spacing: 8vw;
        --arrow-scale: 12.75vw;
        --logo-height: 20vw;
    }

    body {
        flex-direction: column;
    }

    .logo {
        margin: 7.5vw 0;
    }

    .artist-1-box-dims {
        margin-bottom: 15vw;
        width: calc(var(--left-side) * .8);
        height: calc(var(--left-side) * .8);
    }

    .artist-box {
        height: 100%;
        margin: auto 0;
    }

    .fourty {
        flex-direction: row;
    }

    .upper-half, .lower-half {
        height: 100vw;
        width: 50vw;
    }

    .artist-2-box-dims {
        margin: 0;
        width: calc(var(--left-side) * .8 * .6);
        height: calc(var(--left-side) * .8 * .6);
    }

    .up-arrow {
        left: calc(50vw - var(--arrow-scale)/2 + var(--circle-width)/2 + var(--circle-spacing));
        bottom: calc(100vw - var(--arrow-scale)/2 + 2px);
    }
    
    .down-arrow {
        left: calc(50vw - var(--arrow-scale)/2 - var(--circle-width)/2 - var(--circle-spacing));
        bottom: calc(100vw - var(--arrow-scale)/2 - 2px);
    }

    .upper-half:after {
        left: calc(50vw - var(--circle-width) - var(--circle-spacing));
        top: calc(-1 * var(--circle-width)/2); 
    }
    
    .lower-half:after {
        left: var(--circle-spacing);
        top: calc(-1 * var(--circle-width)/2); 
    }
}