:root{ 
    --lightgreen: #3ff77f;
    --green: #1db954;
    --button-padding: calc((1vw + 1vh) / 2)
    
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.gradient-bg {
    background-image: url("../images/gradientBg.png");
    background-size: cover;
    background-position: center;
}

.under-img{
    position: absolute;
    clip-path: polygon(85vw 0vh, 100vw 0vh, 100vw 100vh, 38vw 100vh);
}

.black-bg {
    background-color: black;
    width: 100%;
    height: 100%;
}

.over-img {
    height: calc(44vw * 445/1247);
    width: 44vw;
    position: absolute;
    bottom: 50vh;
    right: 50vw;
}

.buttons {
    position: absolute;
    bottom: 105px;
    right: 35px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;

    box-shadow:inset 0 0 0 0 var(--lightgreen);
    transition: ease-out 0.3s;
}



.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: calc(var(--button-padding) * 6);
    color: var(--green);

    border: 4px solid var(--green);
    border-radius: 4px;

    height: max-content;
    margin-top: 30px;
    padding: 0px;
    padding-left: calc(var(--button-padding));
    padding-right: calc(var(--button-padding));
}

.text * {
    padding: auto;
    margin: 0;
}

@media screen and (max-aspect-ratio: 7/5) {
    :root {
        --logo-width: min(440px, 66vw)
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .over-img {
        height: calc(var(--logo-width) * 445/1247);
        width: var(--logo-width);
        position: relative;
        bottom: 0;
        right: 0;

        margin: 20vh 0;
    }

    .buttons {
        position: relative;
        bottom: 0;
        right: 0;

        height: 20vh;
        margin: 5vh 0;
        z-index: 1;

        flex-direction: column;
        align-items: center;
        
    }

    .text {
        margin-top: 15px;
    }

    .under-img{
        clip-path: polygon(0vw 70vh, 100vw 60vh, 100vw 100vh, 0vw 100vh);
    }
}